<!DOCTYPE html>
<html lang="en" class="w-100 min-vh-100">
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["Title"] == null)
    {
        <title>Pika</title>
    }
    else
    {
        <title>@ViewData["Title"] &middot; Pika</title>
    }

    <link rel="stylesheet" href="~/style.min.css" asp-append-version="true" />
</head>
<body class="w-100 bg-body-secondary">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/brand.png" alt="pika" width="24" height="24">
                Pika
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/app" id="navApp"><i class="bi bi-window-desktop"></i> App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/script" id="navScript"><i class="bi bi-terminal"></i> Script</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/drive" id="navDrive"><i class="bi bi-hdd"></i> Drive</a>
                    </li>
                    @* <li class="nav-item">
                        <a class="nav-link" href="/ups" id="navUps"><i class="bi bi-plug"></i> UPS</a>
                    </li> *@
                </ul>

                <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/setting" id="navSetting"><i class="bi bi-gear"></i> Setting</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i> jerry
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
                            <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="min-vh-100 d-flex flex-column p-0" id="container">
        <main class="my-2 py-3 container">
            @RenderBody()
        </main>

        <footer class="mt-auto fs-6 text-muted text-center p-3 bg-dark" data-bs-theme="dark">
            Pika &middot;
            <a href="https://github.com/JerryBian/pika" class="text-decoration-none">
                <i class="bi bi-github"></i> Github
            </a> &middot;
            <text>v</text>@AppUtil.AppVersion &middot;
            <a href="/logout">Logout</a>
        </footer>
    </div>

    <div class="modal fade" tabindex="-1" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="messageModalBody">
                </div>
                <div class="modal-footer" id="messageModalFooter">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center vh-100 align-items-center d-none" id="spinner">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <script src="~/script.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>