@import "../../../../node_modules/bootswatch/dist/solar/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootswatch/dist/solar/bootswatch";

.height-max-1 {
    max-height: 200px;
}

.height-max-2 {
    max-height: 450px;
}

pre.d-inline code.hljs{
    display: inherit;
}