@model PikaScriptIndexViewModel
@{
    ViewData["Title"] = "Script";
}

<div class="text-end mb-3">
    <div class="btn-group">
        <a class="btn btn-primary" href="/script/add?isTemp=true"><i class="bi bi-plus-lg"></i> Create temp script</a>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/script/add"><i class="bi bi-plus-lg"></i> Create new saved script</a></li>
        </ul>
    </div>
</div>

<h5 class="mb-3"><i class="bi bi-card-list"></i> Saved scripts</h5>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model.SavedScripts)
    {
        <div class="col">
            <div class="card text-center bg-body bg-gradient ">
                <div class="card-img-top text-center py-2">
                    <div class="fs-2"><i class="bi bi-command"></i></div>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title font-monospace">@item.Name</h5>
                    <div class="mb-3">
                        @item.Description
                    </div>
                    <div class="fs-5 card-text font-monospace">
                        <div class="btn-group" role="group">
                            <a class="btn btn-secondary" href="/script/@item.Id"><i class="bi bi-info-lg"></i> Detail</a>
                            <button type="button" class="btn btn-success" onclick="runScript('@item.Id')"><i class="bi bi-toggle-on"></i> Run</button>
                            <a class="btn btn-info" href="/script/@item.Id/update"><i class="bi bi-pen"></i> Edit</a>
                        </div>
                    </div>
                    <div>
                        <span class="font-monospace text-dark small">@item.RunningCount</span> running
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        setActive("navScript");
    </script>
}