@model HomeViewModel

<h5 class="mb-3"><i class="bi bi-card-list"></i> Components</h5>

<a href="/app" class="text-decoration-none">
    <div class="card border-secondary mb-4 text-center py-3">
        <div class="card-body">
            <div class="fs-2"><i class="bi bi-window-desktop small"></i> App</div>
            <div class="small text-muted">Manage applications: view state, start or stop...</div>
        </div>
    </div>
</a>

<a href="/script" class="text-decoration-none">
    <div class="card border-secondary mb-4 text-center py-3">
        <div class="card-body">
            <div class="fs-2"><i class="bi bi-terminal small"></i> Script</div>
            <div class="small text-muted">Manage script: running scripts, saved script...</div>
        </div>
    </div>
</a>

<a href="/drive" class="text-decoration-none">
    <div class="card border-secondary mb-4 text-center py-3">
        <div class="card-body">
            <div class="fs-2"><i class="bi bi-hdd small"></i> Drive</div>
            <div class="small text-muted">Manage drive: view HDD/SSD S.M.A.R,T, power state...</div>
        </div>
    </div>
</a>

@* <a href="/ups" class="text-decoration-none">
    <div class="card border-secondary mb-4 text-center py-3">
        <div class="card-body">
            <div class="fs-2"><i class="bi bi-plug small"></i> UPS</div>
            <div class="small text-muted">Manage UPS: history load, battery usage...</div>
        </div>
    </div>
</a>
 *@

<div class="mt-3">
    <section class="mt-5">
        <div class="mb-2"><i class="bi bi-braces-asterisk small text-muted"></i> <span class="h5">Statistics</span></div>
        <div class="border border-light px-2">
            <div class="row py-2 my-1">
                <div class="col-10 text-truncate">
                    <i class="bi bi-database text-muted"></i> Database size
                </div>
                <div class="col-2 font-monospace small text-muted bg-info-subtle">
                    @Model.SystemStatus.DbSize.ToByteSizeHuman()
                </div>
            </div>
        </div>
    </section>
</div>